* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  background-color: #181818;
}

.card {
  width: 100%;
  margin: 5%;
  background: linear-gradient(45deg, #f2f3f4, #fffff4);
  border-top-right-radius: 3em;
  border-top-left-radius: 3em;
  border-bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;

  display: grid;

  grid-template-areas: 
    "photo info info info"
    "photo info info info";
}

.card-image {
  grid-area: photo;
  width: 350px;
  height: 100%;
  background-size: cover;
  background-position: center;

  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  border-bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;
}

.card-info-container {
  grid: info;
  padding: 1em 1em 1em 1em;
  width: 100%;
}

.card-info-heading {
  font-size: 1.5em;
  color: #181818;
  grid-area: 1 / 2 / 1 / 3;
}

.card-info-para {
  color: #666666;
  font-size: 0.9em;
  text-align: justify;
  font-weight: lighter;
}

.btn {
  background-color: #ffeb3b;
  outline: none;
  border: none;
  width: 100%;
  color: #6e6301;
  height: 60px;
  border-radius: 3em;
  padding: 1em 2em;
  font-size: 0.9em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
  transition: 0.7s;
}

.btn:hover {
  background-color: black;
  color: white;
}

.card-stats-container {
  display: flex;
  justify-content: space-between;
}

.stats-heading {
  font-size: 1em;
  color: #8e8e8e;
  margin-bottom: 0.7em;
}

.stats-para {
  font-size: 1.5em;
  font-weight: bold;
}
